@mixin button-skeleton {
  height: 34px;
  padding: 0 10px;
  border: 2px solid transparent;
  border-radius: var(--border-radius);
  font-family: var(--font-family);
  font-size: var(--font-size);
  display: inline-flex;
  align-items: center;
  max-width: 100%;
}

@mixin button {
  @include button-skeleton;
  @include background-color-transition(--color-contrast, --color-fg);

  &:focus {
    border-color: var(--color-primary);
    outline: none;
  }
  &.active {
    @include background-color-transition(--color-primary, --color-white);

    &:focus {
      border-color: #000;
    }
  }
  &[disabled] {
    opacity: 0.4;
    cursor: unset;
  }
  &--composite {
    border-radius: var(--border-radius) 0 0 var(--border-radius);

    & + .button {
      border-radius: 0 var(--border-radius) var(--border-radius) 0;
      filter: brightness(0.96);

      .fa-chevron-down {
        margin: 0;
      }
    }
    &.active + .button {
      @include background-color-transition(--color-primary, --color-white);
    }
  }
  .icon, .main_icons {
    margin-inline-end: 0;

    + .item-label {
      margin-inline-start: 5px;
    }
  }
}

@mixin input {
  @include button;
}
