@mixin listless($padding: 0, $margin: 0) {
  list-style: none;
  padding: $padding;
  margin: $margin;
}

@mixin organized-content($wrap: wrap) {
  display: flex;
  flex-wrap: $wrap;
  align-items: center;
}

@mixin horizontal-spacing($amount: var(--space-between-elements)) {
  margin: 0 $amount;

  &:first-child {
    margin-inline-start: 0;
  }
  &:last-child {
    margin-inline-end: 0;
  }
}

@mixin vertical-spacing($amount: var(--space-between-elements)) {
  margin: $amount 0;

  &:first-child {
    margin-block-start: 0;
  }
  &:last-child {
    margin-block-end: 0;
  }
}

@mixin link($color, $hoverColor: colorLightness($color, 0.7)) {
  a {
    color: var($color);
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: $hoverColor;
    }
  }
}

@mixin clear {
  &::after {
    content: "";
    display: block;
    clear: both;
    width: 100%;
  }
}

@mixin block-skeleton {
  @include clear;
  border-radius: var(--border-radius);
  box-shadow: var(--block-box-shadow);
}

@mixin block {
  padding: var(--block-padding);
  background: var(--block-bg);
  color: $block-color;
}

@mixin amt-skeleton($size: 16px, $font-size: 11px) {
  width: $size;
  height: $size;
  line-height: $size;
  text-align: center;
  font-size: $font-size;
  border-radius: 100%;
  display: inline-block;
}

@mixin tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  background: var(--color-secondary);
  color: #fff;
  height: 15px;
  line-height: 15px;
  font-size: 11px;
  padding: 0 3px;
  vertical-align: middle;

  &:hover {
    color: #fff;
  }
}

@mixin background-color-transition($bg, $fg) {
  background: var(#{$bg});
  color: var(#{$fg});

  &:hover {
    background: colorLightness($bg, 0.85);
    color: colorLightness($fg, 0.85);
  }
  &:focus {
    background: colorLightness($bg, 0.85);
    color: colorLightness($fg, 0.85);
  }
}

@import "controls";
