#admin_content > .cat_bar {
  .catbg {
    display: flex;
    align-items: flex-end;

    > .floatright {
      margin-inline-start: auto;
    }
  }
}

.admin_search {
  @include organized-content;

  > * {
    @include horizontal-spacing(2px);
  }
}

#admin_form_wrapper > form > .windowbg > * {
  @include vertical-spacing;
}

h3.config_hd.titlebg {
  padding: 3px 0 3px 45px;
}

.potato-theme-info-container {
  @include organized-content;

  > * {
    flex-grow: 1;
  }
}
