.main-content-section {
  > * {
    @include vertical-spacing;
  }
}

.news {
  position: relative;

  &-fader-items {
    @include listless;
    position: relative;
  }
}

.sy {
  &-slide {
    position: absolute;
    top: 0;
  }
  &-active {
    position: relative;
  }
  &-filler {
    display: none;
  }
  &-pager {
    @include listless;
    @include organized-content;
    padding: var(--block-padding);
    position: absolute;
    top: 0;
    right: 0;

    li {
      @include horizontal-spacing(2px);
      opacity: 0.4;

      &.sy-active {
        opacity: 1;
      }
    }
    a {
      @include amt-skeleton;
      background: var(--color-primary);
      color: transparent;

      &:hover {
        background: var(--color-primary-dark);
      }
    }
  }
}

.main_container {
  @include vertical-spacing;
}

.up_contain {
  @include block-skeleton;
  @include block;
  @include vertical-spacing;
  @include organized-content;
  flex-wrap: wrap;

  .subject {
    font-size: calc(var(--font-size) + 2px);
  }
  .moderators {
    margin: 0;
  }
  .children {
    padding: var(--block-padding);
    margin-top: 6px;
    background: var(--block-bg-dark);
    border-radius: var(--border-radius);
    width: 100%;

    > p {
      > strong::after {
        content: ": ";
      }
      > span {
        &::after {
          content: ", ";
        }
        &:last-child::after {
          content: "";
        }
      }
    }
  }
}

.board {
  &_icon {
    width: 6%;
    text-align: center;
    font-size: 26px;

    @media (max-width: $mobile-max-width) {
      width: 13%;
    }
  }
  &_stats {
    width: 10%;
    text-align: center;
    @include adaptiveHiding;
  }
  &_description {
    font-size: calc(var(--font-size) - 1px);
  }
}
.info {
  width: 52%;

  @media (max-width: $mobile-max-width) {
    width: 87%;
  }
}
.lastpost {
  width: 32%;

  .topic-item {
    padding: 0;

    &:hover {
      background: transparent;
    }
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;

    .topic {
      &-item-poster-avatar .avatar {
        width: 20px;
        height: 20px;
      }
      &-item-details {
        display: none;
      }
    }
  }
}

@media (min-width: $mobile-min-width) {
  .inline-lastpost {
    display: none;
  }
}

.topic {
  &-item, &-header {
    @include organized-content;

    .sort {
      &_down, &_up {
        margin: 0 0 0 4px;
      }
    }
    input[type="checkbox"] {
      line-height: normal;
      height: auto;
    }
  }

  &-item {
    @include organized-content(nowrap);
    padding: var(--block-padding);
    border-bottom: 1px solid var(--block-bg-darkerer);

    &:hover {
      background: var(--block-bg-dark);
    }
    &-container {
      @include block-skeleton;
      background: var(--block-bg);
    }
    &-poster-avatar {
      margin-inline-end: 6px;

      .avatar {
        width: 40px;
        height: 40px;
        border-radius: var(--avatar-border-radius);
      }
    }
    &-content {
      flex-grow: 1;
    }
    &-details {
      @include organized-content;
      font-size: calc(var(--font-size) - 1px);

      .icon {
        margin-inline-end: 0;
      }
      > * {
        @include horizontal-spacing(3px);
      }
    }
    &-body {
      margin-top: 6px;
    }
    &--extended {
      align-items: flex-start;
    }
    .quickbuttons > li > a {
      opacity: 0;
    }
    &.locked {
      background: var(--topic-locked-bg);
      font-style: italic;
    }
    &.sticky {
      background: var(--topic-sticky-bg);
    }
    &.sticky.locked {
      background: var(--topic-sticky-locked-bg);
    }
    &.approvetopic {
      background: var(--unapproved-bg);
    }
    &:hover {
      .quickbuttons > li > a {
        opacity: 1;
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }

  &-list-area {
    .info {
      @media (max-width: $mobile-max-width) {
        width: 80%;
      }
    }
    .lastpost {
      width: 30%;
      @include adaptiveHiding;
    }
    .moderation {
      width: 2%;

      @media (max-width: $mobile-max-width) {
        width: 5%;
      }
    }
  }

  &_pages {
    @include organized-content;

    > .button {
      @include horizontal-spacing(1px);
      margin: 0 1px;
      height: 20px;
      padding: 0 5px;
      font-size: calc(var(--font-size) - 1px);
    }
  }
}

.upshrink-stats {
  > * {
    @include vertical-spacing;
  }
}

.forum-stats {
  &-container {
    @include organized-content;

    @media (min-width: $mobile-min-width) {
      > div {
        @include horizontal-spacing;
        flex-grow: 1;
      }
    }
  }
}

.new_posts {
  @include tag;
}
