.post-list {
  &-item {
    @include vertical-spacing;

    &-header {
      @include organized-content(nowrap);
    }
    &-counter {
      padding: 0 12px 0 8px;
      font-size: 18px;
    }
    &-title {
      margin: 0;
      font-size: calc(var(--font-size) + 1px);
    }

    &-content {
      border-top: 2px dotted var(--color-contrast);
      margin-top: 10px;
      display: flex;
      flex-direction: column;

      .quickbuttons {
        margin-inline-start: auto;
      }
    }
  }
}
