.post-container {
  @include block-skeleton;
  background: var(--block-bg);
}

.postblock {
  border-bottom: 1px solid var(--color-bg-darker);

  &:first-child {
    .poster {
      border-top-left-radius: var(--border-radius);
    }
    .post_wrapper > .noticebox {
      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }
  }
  &:last-child {
    border-bottom: none;

    .poster {
      border-bottom-left-radius: var(--border-radius);
    }
  }
}

.post_wrapper {
  display: flex;
  flex-wrap: wrap;

  > .noticebox {
    width: 100%;
    box-shadow: none;
    border-radius: 0;
  }
  @media (min-width: $mobile-min-width) {
    .quickbuttons > li > a {
      opacity: 0;
    }
  }
  &:hover {
    .quickbuttons > li > a {
      opacity: 1;
    }
  }
}

.poster {
  width: $poster-area-width;
  text-align: center;
  padding: $post-padding;
  background: var(--block-bg-dark);

  .avatar {
    border-radius: var(--avatar-border-radius);
  }
  ul, ol {
    @include listless;

    ul, ol {
      @include organized-content;
      justify-content: center;

      .icon, .main_icons {
        font-size: 18px;
      }
    }
  }
  &-name h4 {
    margin: 6px 0 4px;
    font-size: calc(var(--font-size) + 2px);
  }
}

.postarea {
  width: calc(100% - #{$poster-area-width});
  padding: $post-padding;
  display: flex;
  flex-direction: column;

  .inline_details {
    margin: 0;

    .icon {
      margin-inline-end: 0;
    }
    > * {
      @include horizontal-spacing(2px);
    }
  }
}

@media (max-width: $mobile-max-width) {
  .post_wrapper {
    flex-direction: column;
  }
  .poster, .postarea {
    width: auto;
  }
  .poster {
    display: flex;
    align-items: center;

    .avatar {
      width: 60px;
      height: 60px;
      margin-inline-end: 6px;
    }
    .user_info {
      text-align: start;

      > li:not(.poster-name):not(.icons):not(.membergroup) {
        display: none;
      }
    }
  }
  .postarea {
    .like_count {
      display: block;
    }
    .signature {
      display: none;
    }
  }
}

.keyinfo {
  @include organized-content;
  justify-content: space-between;

  h5 {
    font-size: calc(var(--font-size) - 2px);
  }
}

.post {
  flex-grow: 1;
  margin: 6px 0 6px;

  > .inner {
    overflow: auto;
  }
}

.signature, .attachments {
  font-size: calc(var(--font-size) - 2px);
  border-top: 1px dashed var(--color-contrast);
  padding: 12px 0 0;
  margin: 12px 0 0;
}

.attachments {
  display: flex;
  align-items: flex-end;

  .attached {
    @include horizontal-spacing(4px);
    max-width: calc(100% / 3);
  }
}

.post_separator {
  display: none;
}

.page-details {
  @include organized-content;

  .nextlinks {
    flex-grow: 1;
    text-align: end;
  }
}

#moderationbuttons_strip {
  > a {
    @include horizontal-spacing(2px);
  }
  .amt {
    margin-inline-start: 3px;
  }

  #oInTopicModeration_remove_button_text::before {
    content: fa-content($fa-var-trash);
  }
  #oInTopicModeration_split_button_text::before {
    content: fa-content($fa-var-unlink);
  }
  #oInTopicModeration_remove_button_text::before, #oInTopicModeration_split_button_text::before {
    @extend %fa-icon;
    @extend .fas;
    margin-inline-end: 3px;
  }
}

.like-item {
  @include vertical-spacing;
  @include organized-content(nowrap);

  &-container {
    @include listless;
  }

  &-avatar {
    margin-inline-end: 6px;

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: var(--avatar-border-radius);
    }
  }
  &-content {
    flex-grow: 1;
  }
  &-details {
    @include organized-content;
    font-size: calc(var(--font-size) - 2px);

    > * {
      @include horizontal-spacing(4px);
    }
    .icon {
      margin-inline-end: 1px;
    }
  }
}

/* Post Content & BBCode */

.bbc_standard_quote {
  margin: 0;
  padding: var(--block-padding);
  border-radius: var(--border-radius);
  background: var(--color-contrast);

  cite {
    display: block;
    margin-bottom: 4px;
  }
}

.codeheader {
  @include organized-content;

  > * {
    @include horizontal-spacing(2px);
  }
}
.codeoperation {
  &::after {
    content: "]";
  }
  &::before {
    content: "[";
  }
}
.bbc_code {
  padding: var(--block-padding);
  border-radius: var(--border-radius);
  background: var(--color-contrast);
  display: block;
  background: #eaeaea;
  filter: invert(1);
  font-size: 12px;
  max-height: 300px;
  overflow: scroll;

  &.expand_code {
    max-height: unset;
  }
}

.bbc_link {
  border-bottom: 1px dotted;
}

.bbc_size {
  line-height: normal;
}

.bbc_img {
  &.resized {
    max-width: 100%;
    cursor: pointer;
  }
  &.original_size {
    max-width: unset;
  }
}

.bbc_table {
  box-shadow: none;
  border-spacing: 2px;

  td {
    background: var(--block-bg-darker);
  }
}
