@mixin title-block {
  &_bar {
    @include clear;
    padding: 10px 0;
    margin-top: var(--space-between-elements);

    &:first-child {
      margin-top: 0;
    }
  }
  &bg {
    margin: 0;

    .toggle {
      &_down, &_up {
        @extend %fa-icon;
        @extend .fas;
      }

      &_down::before {
        content: fa-content($fa-var-chevron-down);
      }
      &_up::before {
        content: fa-content($fa-var-chevron-up);
      }
    }
  }
}

.cat, .title, .sub {
  @include title-block;
}

.databox {
  @include block-skeleton;
  display: flex;

  &-icon {
    display: flex;
    width: 3.5rem;
    font-size: 18px;
    justify-content: center;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    background: rgba(0, 0, 0, 0.12);

    .icon {
      margin: 0;
    }
  }
  &-content {
    padding: var(--block-padding);
    flex-grow: 1;
    width: calc(100% - 3.5rem);
  }
  &-title {
    margin-bottom: 4px;
    font-weight: 600;
    font-size: calc(var(--font-size) + 1px);
  }
  &-text {
    margin: 0;
  }

  &--neutral {
    background: var(--neutral-bg);
    color: var(--neutral-color);
  }
  &--error {
    background: var(--error-bg);
    color: var(--error-color);
  }
  &--notice {
    background: var(--notice-bg);
    color: var(--notice-color);
  }

  &--statistic {
    align-items: center;
    background: transparent;
    box-shadow: none;

    .databox-icon {
      height: 3.5rem;
      border-radius: 100%;
    }
    &:hover {
      .databox-icon {
        background: var(--color-primary);
        color: #fff;
      }
    }
  }
  &--full {
    width: 100%;
  }
}

@mixin noticebox($bg, $fg, $icon) {
  @include block-skeleton;
  @include organized-content;
  padding: 14px 16px;
  background: $bg;
  color: $fg;

  &::before {
    @extend %fa-icon;
    @extend .fas;
    content: fa-content($icon);
    margin-inline-end: 8px;
    font-size: 18px;
    vertical-align: middle;
  }
}

.noticebox {
  @include noticebox(var(--notice-bg), var(--notice-color), $fa-var-exclamation-circle);
}

.infobox {
  @include noticebox(var(--success-bg), var(--success-color), $fa-var-check-circle);
}

.errorbox {
  @include noticebox(var(--error-bg), var(--error-color), $fa-var-times-circle);
}

.windowbg, .roundframe, .information {
  @include block-skeleton;
  background: var(--block-bg);
  color: $block-color;
  padding: var(--block-padding);

  .title_bar {
    @include clear;
    border-radius: var(--border-radius);
    background: var(--color-bg);
    padding: var(--block-padding);
  }
}

.descbox {
  border-radius: var(--border-radius);
  background: var(--color-bg);
  color: $block-color;
  padding: var(--block-padding);
}

.windowbg .windowbg {
  background: var(--color-bg);
}
