.main-content-section {
  > * {
    @include vertical-spacing;
  }
}

.news {
  position: relative;

  &-fader-items {
    @include listless;
    position: relative;
  }
}

.sy {
  &-slide {
    position: absolute;
    top: 0;
  }
  &-active {
    position: relative;
  }
  &-filler {
    display: none;
  }
  &-pager {
    @include listless;
    @include organized-content;
    padding: $block-padding;
    position: absolute;
    top: 0;
    right: 0;

    li {
      @include horizontal-spacing(2px);
      opacity: 0.4;

      &.sy-active {
        opacity: 1;
      }
    }
    a {
      @include amt-skeleton;
      background: $primary-color;
      color: transparent;

      &:hover {
        background: darken($primary-color, 15);
      }
    }
  }
}

.main_container {
  @include vertical-spacing;
}

.up_contain {
  @include block-skeleton;
  @include block;
  @include vertical-spacing;
  @include organized-content;
  flex-wrap: wrap;

  .subject {
    font-size: $font-size + 2;
  }
  .moderators {
    margin: 0;
  }
  .children {
    padding: $block-padding;
    margin-top: 6px;
    background: darken(grayscale($block-bg), 1);
    border-radius: $border-radius;
    width: 100%;

    > p {
      > strong::after {
        content: ": ";
      }
      > span {
        &::after {
          content: ", ";
        }
        &:last-child::after {
          content: "";
        }
      }
    }
  }
}

.board {
  &_icon {
    width: 6%;
    text-align: center;
    font-size: 26px;
  }
  &_stats {
    width: 10%;
    text-align: center;
  }
  &_description {
    font-size: $font-size - 1;
  }
}
.info {
  width: 52%;
}
.lastpost {
  width: 32%;

  .topic-item {
    padding: 0;

    &:hover {
      background: transparent;
    }
  }
}

.topic {
  &-item, &-header {
    @include organized-content;

    .sort {
      &_down, &_up {
        margin: 0 0 0 4px;
      }
    }
    input[type="checkbox"] {
      line-height: normal;
      height: auto;
    }
  }

  &-item {
    @include organized-content;
    padding: $block-padding;
    border-bottom: 1px solid darken(grayscale($block-bg), 10);

    &:hover {
      background: darken(grayscale($block-bg), 1);
    }
    &-container {
      @include block-skeleton;
      background: $block-bg;
    }
    &-poster-avatar {
      margin-inline-end: 6px;

      .avatar {
        width: 40px;
        height: 40px;
        border-radius: $avatar-border-radius;
      }
    }
    &-content {
      flex-grow: 1;
    }
    &-details {
      @include organized-content;
      font-size: $font-size - 1;

      .icon {
        margin-inline-end: 0;
      }
      > * {
        @include horizontal-spacing(3px);
      }
    }
    &-body {
      margin-top: 6px;
    }
    &--extended {
      align-items: flex-start;
    }
    .quickbuttons > li > a {
      opacity: 0;
    }
    &:hover {
      .quickbuttons > li > a {
        opacity: 1;
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }

  &-list-area {
    .lastpost {
      width: 30%;
    }
    .moderation {
      width: 2%;
    }
  }

  &_pages {
    @include organized-content;

    > .button {
      @include horizontal-spacing(1px);
      margin: 0 1px;
      height: 20px;
      padding: 0 5px;
      font-size: $font-size - 1;
    }
  }
}

.info-center {
  margin-top: 4*$space-between-elements;
}

.upshrink-stats {
  > * {
    @include vertical-spacing;
  }
}

.forum-stats {
  &-container {
    @include organized-content;

    > div {
      @include horizontal-spacing;
      flex-grow: 1;
    }
  }
}

.new_posts {
  @include tag;
}
