.main-content-section {
  > * {
    @include vertical-spacing;
  }
}

.news {
  position: relative;

  &-fader-items {
    @include listless;
    position: relative;
  }
}

.sy {
  &-slide {
    position: absolute;
    top: 0;
  }
  &-active {
    position: relative;
  }
  &-filler {
    display: none;
  }
  &-pager {
    @include listless;
    @include organized-content;
    padding: $block-padding;
    position: absolute;
    top: 0;
    right: 0;

    li {
      @include horizontal-spacing(2px);
      opacity: 0.4;

      &.sy-active {
        opacity: 1;
      }
    }
    a {
      @include amt-skeleton;
      background: $primary-color;
      color: transparent;

      &:hover {
        background: darken($primary-color, 15);
      }
    }
  }
}

.main_container {
  @include vertical-spacing;
}

.up_contain {
  @include block-skeleton;
  @include block;
  @include vertical-spacing;
  @include organized-content;

  .subject {
    font-size: $font-size + 2;
  }
  .moderators {
    margin: 0;
  }

}
.board_icon {
  width: 6%;
  text-align: center;
  font-size: 26px;
}
.board_stats {
  width: 10%;
  text-align: center;
}
.info {
  width: 52%;
}
.lastpost {
  width: 32%;
}
.topic {
  &-item, &-header {
    @include organized-content;

    .sort {
      &_down, &_up {
        margin: 0 0 0 4px;
      }
    }
    input[type="checkbox"] {
      line-height: normal;
      height: auto;
    }
  }
}

.info-center {
  margin-top: 4*$space-between-elements;
}

.upshrink-stats {
  > * {
    @include vertical-spacing;
  }
}

.forum-stats {
  &-container {
    @include organized-content;

    > div {
      @include horizontal-spacing;
      flex-grow: 1;
    }
  }
}

.recent-post {
  @include organized-content;
  padding: $block-padding;
  border-bottom: 1px solid darken(grayscale($block-bg), 10);

  &:hover {
    background: darken(grayscale($block-bg), 1);
  }

  &s-container {
    @include block-skeleton;
    background: $block-bg;
  }
  &-poster-avatar {
    margin-inline-end: 6px;

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: $avatar-border-radius;
    }
  }
  &-details {
    @include organized-content;
    font-size: $font-size - 1;

    .icon {
      margin-inline-end: 0;
    }
    > * {
      @include horizontal-spacing(3px);
    }
  }
}

.new_posts {
  @include tag;
}
