select, input[type="submit"], input[type="checkbox"], .button, label[for] {
  cursor: pointer;
}

.button {
  @include button;
}

input, select, textarea {
  @include input;
}

textarea {
  min-height: 34px;
  height: auto;
  padding: 10px;
}

input {
  &[type="submit"] {
    @extend .button, .active;
  }
  &[type="checkbox"], &[type="radio"] {
    @extend %fa-icon;
    @extend .fas;
    font-size: 20px;
    height: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--color-contrast);
    vertical-align: middle;
    margin: 0 7px;

    &:hover {
      color: var(--color-contrast-dark);
    }
    &::after {
      background: var(--block-bg);
      border-radius: 100%;
      margin-top: -2px;
    }
    &:checked::after {
      color: var(--color-primary);
    }
  }
  &[type="checkbox"] {
    &::after {
      content: fa-content($fa-var-circle);
    }
    &:checked::after {
      content: fa-content($fa-var-check-circle);
    }
  }
  &[type="radio"] {
    &::after {
      content: fa-content($fa-var-circle);
    }
    &:checked::after {
      content: fa-content($fa-var-dot-circle);
    }
  }
  &[type="color"] {
    width: 70px;
    padding: 0 1px;
  }
}

dl {
  display: flex;
  flex-wrap: wrap;
  margin: unset;

  dt {
    .smalltext {
      font-size: calc(var(--font-size) - 1px);
    }
  }
  dd, dt {
    @include vertical-spacing(1px);
    width: 50%;
    padding-top: 5px;

    > * {
      @include vertical-spacing(1px);
    }
  }
  ol, ul {
    @include listless;
  }
}

fieldset {
  @include vertical-spacing;
  padding: var(--block-padding);
  border: 2px solid var(--block-bg-darkerer);

  > legend {
    padding: 0 8px;
  }
  > * {
    @include vertical-spacing;
  }
}

.qa_fieldset {
  width: 100%;
}

.boardslist {
  ul {
    @include listless;
  }
  label {
    @include organized-content;
  }
  > ul > li {
    @include vertical-spacing;

    > a {
      padding: 0 0 7px;
      display: block;
    }
  }
  > ul > li > ul {
    border-radius: var(--border-radius);
    padding: var(--block-padding);
    background: var(--color-bg);
  }
}

#quickreply_options > .roundframe > *, #postmodify > * {
    @include vertical-spacing;
}

#post_confirm_buttons {
  display: block;
  text-align: end;
}

#post_additional_options > * {
  @include vertical-spacing;
}

ul.post_options {
  @include listless;
  column-count: 2;
}

.login {
  > * {
    @include vertical-spacing(1px);
  }
}

.additional_row {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;

  > * {
    @include horizontal-spacing(2px);
  }
}

/* Attachments in post form */

.dz-image-preview {
  @include organized-content;

  .attach-preview {
    img {
      max-width: 120px;
    }
  }
  .attachment_info {
    margin-left: 14px;
    flex-grow: 1;

    > * {
      @include vertical-spacing;
    }
    .progress_bar, .attached_BBC {
      display: none;
    }
  }
}

.attached_BBC {
  > * {
    @include vertical-spacing(2px);
  }
  &_width_height {
    @include organized-content;

    > * {
      @include horizontal-spacing(2px);
    }
  }
}

.attach-ui {
  display: flex;
  justify-content: flex-end;

  > * {
    @include horizontal-spacing(1px);
  }
}

#attach_upload_all, #attach_cancel_all {
  display: inline-flex !important;
}

#postAttachment2 {
  display: block;

  > * {
    width: 100%;
  }
}

.files > * {
  @include vertical-spacing;
}

input[name="attachBBC"] {
  width: 100%;
}

#post_draft_options {
  @include clear;
  border-radius: var(--border-radius);
  background: var(--color-bg);
  padding: var(--block-padding);
}
