.dropdown {
  @include listless;
  border-radius: var(--border-radius);
  background: var(--dropdown-bg);
  box-shadow: var(--dropdown-box-shadow);
  position: absolute;
  z-index: 10;
  min-width: var(--dropdown-min-width);
  max-width: var(--dropdown-max-width);
  top: calc(100% + 10px);

  .separator {
    height: 1px;
    background: var(--dropdown-bg-dark);
    margin: var(--dropdown-list-padding);
  }
  li > a, .unread_notify {
    display: flex;
    padding: 6px 9px;

    &.active {
      background: var(--dropdown-bg-dark);
    }
    &:hover, &.active:hover {
      background: var(--color-primary);
      color: #fff;
    }
  }
  li > a {
    .icon, .main_icons {
      @extend .fa-fw;
      align-items: flex-start;
      margin-top: 2px;
    }
  }
  &::before, &::after {
    content: "";
    position: absolute;
    top: -17px;
  }
  &::before {
    left: 27px;
    border: 10px solid var(--dropdown-bg);
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    z-index: -1;
  }
  &::after {
    height: 20px;
    width: 100%;
    left: 0;
  }
  .loading {
    padding: var(--block-padding);
  }
  .amt {
    align-self: center;
    margin-inline-start: auto;
  }

  @include link(--color-fg);
}

.dropdown- {
  &bar {
    padding: var(--block-padding);
    border-bottom: 1px solid var(--dropdown-bg-dark);
    border-radius: var(--border-radius) var(--border-radius) 0 0;

    .block {
      @include organized-content;
      justify-content: space-between;
    }
  }
  &resources {
    padding: var(--dropdown-list-padding);
    max-height: 250px;
    overflow: auto;

    &--empty {
      padding: var(--block-padding);
    }
  }
  &right {
    right: 0;

    &::before {
      right: 8px;
      left: unset;
    }
  }
}

.menu {
  @include organized-content;
  @include listless;

  .item-icon .icon {
    font-size: 18px;
    margin-inline-end: 0;
  }
  > li {
    position: relative;

    > a {
      @include button-skeleton;
      padding: 0 6px;
      vertical-align: middle;

      > img {
        width: 30px;
        height: 30px;
        margin-right: 4px;

        &.avatar {
          border-radius: var(--avatar-border-radius);
        }
      }
      > .fa-chevron-down {
        font-size: 11px !important;
        margin-inline-start: 3px;
      }
    }
  }
  &:not(&--flat) {
    > li {
      @include horizontal-spacing(2px);
    }
  }
  &--flat {
    > li {
      &:first-child > a {
        padding-inline-start: 0;
      }
      &:last-child > a {
        padding-inline-end: 0;
      }
    }
  }
}

.dropmenu {
  @extend .menu;

  li {
    position: relative;
  }
  > li {
    ul {
      @extend .dropdown;
      padding: var(--dropdown-list-padding);

      ul {
        left: 100%;
        top: 0;

        &::before {
          left: -18px;
          top: 6px;
          border-color: transparent;
          border-right-color: var(--block-bg);
        }
      }
    }
  }
}

.top_menu {
  @extend .dropdown;
  display: none;

  .top-section &, .buttonlist.floatright & {
    @extend .dropdown-right;
  }

  &.visible {
    display: block;
  }

  ol {
    @include listless;
  }
}

.user-menu {
  > li {
    > a {
      > .amt {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}

.profile_user {
  &_info {
    display: flex;
  }
  &_avatar {
    margin-inline-end: 8px;

    img {
      border-radius: var(--avatar-border-radius);
      width: 65px;
      height: 65px;
    }
  }
  &_content {
    > span {
      display: block;
    }
  }
  &_links {
    padding: var(--dropdown-list-padding);
  }
}

.unread_notify {
  @include organized-content(nowrap);
  font-size: calc(var(--font-size) - 1px);

  &_image {
    @include organized-content;
    justify-content: center;
    margin-right: 8px;
    position: relative;
    width: 42px;

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: var(--avatar-border-radius);
      vertical-align: middle;
    }
    .alert_icon {
      @include amt-skeleton(18px);
      background: var(--color-primary);
      color: #fff;
      margin: 0;
    }
    .avatar + .alert_icon {
      position: absolute;
      bottom: -5px;
      right: -5px;
    }
  }
  &.alert_read {
    opacity: 0.4;
  }
  .details {
    width: calc(100% - 42px);
  }

  &:hover {
    .alert_icon {
      background: #fff;
      color: var(--color-primary);
    }
  }
}

#alerts_menu, #pm_menu, .notify_dropdown {
  width: var(--dropdown-max-width);
}

.quickbuttons {
  @extend .menu;
  position: relative;

  > li {
    > a {
      border-radius: 100%;
      width: 34px;
      justify-content: center;

      .item-label {
        display: none;
      }
      .icon, .main_icons {
        margin: 0;
      }
    }
    > ul {
      @extend .dropdown;
      @extend .dropdown-right;
      padding: var(--dropdown-list-padding);

      &::before {
        right: 6px;
      }
    }
    &:hover {
      > a {
        background: var(--link-color);
        color: #fff;
      }
    }
  }
  .moderationbuttons_check {
    font-size: 34px;
    height: 34px;
    width: 0;
    margin: 0 calc(34px / 2);
  }
}

.buttonlist {
  @include listless;
  @include organized-content;

  > li {
    @include horizontal-spacing(2px);
    position: relative;

    > .top_menu {
      padding: var(--dropdown-list-padding);
    }
  }
}

/* Unspecific Styles */

.item-desc {
  display: block;
  font-size: calc(var(--font-size) - 1px);
}
