.dropdown {
  @include block-skeleton;
  @include listless;
  background: $block-bg;
  position: absolute;
  z-index: 10;
  min-width: $dropdown-min-width;
  max-width: $dropdown-max-width;

  .separator {
    height: 1px;
    background: darken(#fff, 20);
    margin: $dropdown-list-padding;
  }
  li > a, .unread_notify {
    display: flex;
    padding: 6px 9px;

    &.active {
      background: darken(grayscale($block-bg), 2);
    }
    &:hover, &.active:hover {
      background: $primary-color;
      color: #fff;
    }
  }
  li > a {
    .icon, .main_icons {
      @extend .fa-fw;
      align-items: flex-start;
      margin-top: 2px;
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: -17px;
    left: 27px;
    border: 10px solid $block-bg;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    z-index: -1;
  }
  .loading {
    padding: $block-padding;
  }
  .amt {
    align-self: center;
    margin-inline-start: auto;
  }

  @include link($fg-color);
}

.dropdown- {
  &bar {
    padding: $block-padding;
    border-bottom: 1px solid darken(#fff, 20);
    border-radius: $border-radius $border-radius 0 0;

    .block {
      @include organized-content;
      justify-content: space-between;
    }
  }
  &resources {
    padding: $dropdown-list-padding;
    max-height: 200px;
    overflow: auto;

    &--empty {
      padding: $block-padding;
    }
  }
  &right {
    right: 0;

    &::before {
      right: 8px;
      left: unset;
    }
  }
}

.menu {
  @include organized-content;
  @include listless;

  > li {
    > a {
      vertical-align: middle;

      > .fa-chevron-down {
        font-size: 11px !important;
        margin-inline-start: 3px;
      }
    }
  }
}

.dropmenu {
  @extend .menu;

  li {
    position: relative;
  }

  > li {
    > a {
      @include button-skeleton;
    }

    ul {
      @extend .dropdown;
      padding: $dropdown-list-padding;

      ul {
        left: 100%;
        top: 0;

        &::before {
          left: -18px;
          top: 6px;
          border-color: transparent;
          border-right-color: $block-bg;
        }
      }
    }
  }
}

.top_menu {
  @extend .dropdown;
  display: none;

  .top-section &, .buttonlist.floatright & {
    @extend .dropdown-right;
  }

  &.visible {
    display: block;
  }

  ol {
    @include listless;
  }
}

.user-menu {
  @extend .menu;

  > li {
    @include horizontal-spacing(1px);
    position: relative;

    > a {
      @include button-skeleton;

      > .icon {
        font-size: 18px;
        margin-inline-end: 0;
      }
      > img {
        width: 30px;
        height: 30px;
        margin-right: 4px;

        &.avatar {
          border-radius: $avatar-border-radius;
        }
      }
      > .amt {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}

.profile_user {
  &_info {
    display: flex;
  }
  &_avatar {
    margin-inline-end: 8px;

    img {
      border-radius: $avatar-border-radius;
      width: 65px;
      height: 65px;
    }
  }
  &_content {
    > span {
      display: block;
    }
  }
  &_links {
    padding: $dropdown-list-padding;
  }
}

.unread_notify {
  @include organized-content;

  &_image {
    margin-right: $space-between-elements;
    position: relative;

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: $avatar-border-radius;
      vertical-align: middle;
    }
    .alert_icon {
      @include amt-skeleton(18px);
      position: absolute;
      bottom: -5px;
      right: -5px;
      margin: 0;
      background: $primary-color;
      color: #fff;
    }
  }
  &.alert_read {
    opacity: 0.4;
  }

  &:hover {
    .alert_icon {
      background: #fff;
      color: $primary-color;
    }
  }
}

#alerts_menu, #pm_menu, .notify_dropdown {
  width: $dropdown-max-width;
}

.popup_heading {
  display: none;
}

.quickbuttons {
  @extend .menu;
  position: relative;

  > li {
    position: relative;

    > a {
      @include button-skeleton;
      border-radius: 100%;
      width: 34px;
      justify-content: center;

      .item-label {
        display: none;
      }
      .icon, .main_icons {
        margin: 0;
      }
    }
    > ul {
      @extend .dropdown;
      @extend .dropdown-right;
      padding: $dropdown-list-padding;
      top: calc(100% + 10px);

      &::before {
        right: 6px;
      }
    }
    &:hover {
      > a {
        background: $link-color;
        color: #fff;
      }
    }
  }
  .moderationbuttons_check {
    font-size: 34px;
    height: 34px;
    width: 0;
    margin: 0 calc(34px / 2);
  }
}

.buttonlist {
  @extend .menu;

  > li {
    @include horizontal-spacing(2px);
    position: relative;

    > .top_menu {
      padding: $dropdown-list-padding;
    }
  }
}

/* Unspecific Styles */

.item-desc {
  display: block;
  font-size: $font-size - 1;
}

/* Mobile Popup */

.popup_container {
  display: none;
}
