.amt {
  @include amt-skeleton;
  background: $amt-bg;
  color: $amt-color;
}

.badge {
  @include amt-skeleton(24px, $font-size);
  background: $secondary-color;
  color: #fff;
  vertical-align: middle;
}

.pagesection {
  @include organized-content;
  justify-content: space-between;
}

@media (min-width: 425px) {
  .mobile_buttons, .moderationbuttons_mobile_check {
      display: none !important;
  }
}

#topic_icons {
  display: none;
}

p {
  margin: 0;
}

hr {
  border: none;
  height: 1px;
  background: rgb(0, 0, 0, 0.2);
}
