.amt {
  @include amt-skeleton;
  background: $amt-bg;
  color: $amt-color;
}

.badge {
  @include amt-skeleton(24px, $font-size);
  background: $secondary-color;
  color: #fff;
  vertical-align: middle;
}

.pagesection {
  @include organized-content;
  justify-content: space-between;
}

@media (min-width: 425px) {
  .mobile_buttons {
      display: none;
  }
}
