.popup {
  &_container {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 78%);
    z-index: 999;
  }
  &_window {
    @include block-skeleton;
    @include block;
    position: absolute;
    width: 40%;
    left: 50%;
    top: 4rem;
    transform: translateX(-50%);
  }
  &_heading {
    position: relative;
    font-size: calc(var(--font-size) + 2px);
    margin-bottom: 8px;
    font-weight: 600;

    .icon {
      vertical-align: middle;
    }
    .hide_popup {
      position: absolute;
      right: 0;
    }
  }
  &_content {
    max-height: calc(100vh - 9rem);
    overflow: auto;
  }
  &_controls {
    @include organized-content;
    justify-content: center;
    margin-top: 1rem;

    > * {
      @include horizontal-spacing(1px)
    }
  }
}

@media (min-width: 481px) {
  .popup_mobile {
    position: relative;
    background: unset;
    width: unset;
    height: unset;
    z-index: unset;

    .popup {
      &_heading {
        display: none;
      }
      &_window {
        position: relative;
        padding: unset;
        margin: unset;
        box-shadow: unset;
        background: unset;
        color: unset;
        width: unset;
        transform: unset;
        top: unset;
        left: unset;
      }
    }
  }
}
