.generic_bar, .progress_bar {
  background: darken($bg-color, 2);
  min-height: 16px;
  line-height: 1.4em;
  border-radius: $border-radius;
  position: relative;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.6);

  span {
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 0 5px;
    color: #fff;
  }
  .bar {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    background: $secondary-color;
    transition: width .3s;
    border-radius: $border-radius;
    display: block;
  }
  &.vertical {
    width: 15px;

    .bar {
      right: 0;
      top: auto;
      box-shadow: 4px -4px 4px rgba(0, 0, 0, 0.1) inset, 4px 4px 4px rgba(255,255,255,0.3) inset;
    }
  }
}

.progress {
  &_bar {
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);

    .bar {
      box-shadow: -1px 1px 0 rgba(255, 255, 255, 0.25) inset,
      1px -1px 0 rgba(0,0,0,0.1) inset;
      background-color: $secondary-color;
      background-size: 30px 30px;
      background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    }
  }
  &_yellow .bar {
    background-color: #f6c51c;
  }
  &_green .bar {
    background-color: #75da41;
  }
  &_red .bar {
    background-color: #f45d4c;
  }
  &_blue .bar {
    background-color: #34c2e3;
  }
}
