/* Skeleton */
body, html {
  padding: 0;
  margin: 0;
}

body {
  background-color: $bg-color;
  color: $fg-color;
  font-family: $font-family;
  font-size: $font-size;
  display: flex;
  flex-direction: column;
  line-height: $line-height;
}

.footerfix {
  flex-grow: 1;
}

.inner_wrap {
  max-width: $max-page-width;
  margin: 0 auto;
}

.upper-section {
  margin-bottom: $space-between-elements;
}

.footer {
  background: $top-section-background;
  padding: 1rem 0;
  margin-top: 2rem;

  .inner_wrap {
    > ul {
      @include organized-content;
      justify-content: space-between;
      flex-direction: row-reverse;
    }
  }
  .footer-links {
    text-align: end;
  }
  ul {
    @include listless;
  }
  &, a {
    color: #fff;
  }
  a:hover {
    color: darken(#fff, 15);
  }
}

* {
  box-sizing: border-box;
}

@include link($primary-color);
