/* Skeleton */
body, html {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: var(--font-family);
  font-size: var(--font-size);
  display: flex;
  flex-direction: column;
  line-height: var(--line-height);
}

.footerfix {
  flex-grow: 1;
  position: relative;
  z-index: 1;
}

.inner_wrap {
  max-width: var(--max-page-width);
  margin: 0 auto;
}

.upper-section {
  margin-bottom: var(--space-between-elements);
}

.navigate_section {
  @include block-skeleton;
  @include block;
  line-height: 25px;

  ul {
    @include listless;
    @include organized-content;
  }
}

.page {
  &-title {
    margin: 0;
  }
  &-actions {
    float: right;
  }
  &links {
    @include organized-content;

    > * {
      @include horizontal-spacing(2px);
    }
  }
}

#admin_content, #messageindex, #post_area > .roundframe, .main_section {
  > * {
    @include vertical-spacing;
  }
}

.lower_wrapper {
  position: relative;
  padding: 0 0 2rem;
  margin-top: 4rem;
  background: var(--lower-wrapper-bg);
}

.footer {
  @include clear;
  background: var(--footer-bg);
  padding: 7rem 0 1rem;
  position: relative;
  z-index: 0;

  .inner_wrap {
    > ul {
      @include organized-content;
      justify-content: space-between;
      flex-direction: row-reverse;

      @media (max-width: $mobile-max-width) {
        flex-direction: column;
        justify-content: center;
      }
    }
  }
  .footer-links {
    text-align: end;
  }
  ul {
    @include listless;
  }
  .copyright .icon {
    margin: 0;
  }
  &, a {
    color: #fff;
  }
  a:hover {
    color: var(--color-contrast);
  }
}

.waves {
  position: absolute;
  z-index: -1;

  &--upper {
    fill: var(--color-bg);
    background: var(--top-section-background);
    transform: translateY(-55%);

    @media (max-width: $mobile-max-width) {
      top: 52px;
    }
    @media (max-width: 425px) {
      top: 0;
      transform: none;
    }
  }
  &--intermediate {
    fill: var(--color-bg);
    background: var(--lower-wrapper-bg);
    transform: translateY(-33%);
  }
  &--lower {
    transform: translateY(-84%);
    fill: var(--color-bg);
    background: var(--footer-bg);

    .body--waves & {
      fill: var(--lower-wrapper-bg);
    }

    @media (max-width: 600px) {
      transform: none;
      top: 0;
    }
  }
}

* {
  box-sizing: border-box;
}

@include link(--link-color);
