table {
  @include block-skeleton;
  border-spacing: 0;
  width: 100%;
  overflow: hidden;
  margin: 5px 0;

  &.table_grid {
    background: var(--block-bg);
  }
}

thead, tr.title_bar {
  background: var(--color-primary);
  color: #fff;

  @include link(--color-white);

  th, td {
    padding: 8px;
  }

  @media (max-width: $mobile-min-width) {
    th .item-label {
      @include adaptiveHiding;
    }
  }
}

tr {
  &.windowbg {
    box-shadow: none;

    td {
      border-bottom: 1px solid var(--block-bg-darker);
    }
    &:last-child {
      td {
        border-bottom-width: 0;
      }
    }
    &:hover {
      background: var(--block-bg-dark);
    }
  }
  &::after {
    display: none !important;
  }
}

td, th {
  padding: 5px 8px;

  .quickbuttons {
    justify-content: flex-end;
  }
}

#notify_options table {
  @include adaptiveTable;
}
