table {
  @include block-skeleton;
  border-spacing: 0;
  width: 100%;
  overflow: hidden;
  margin: 5px 0;
}

thead, tr.title_bar {
  background: $primary-color;
  color: #fff;

  @include link(#fff);

  th, td {
    padding: 8px;
  }
}

tr {
  &.windowbg {
    box-shadow: none;

    td {
      border-bottom: 1px solid darken(grayscale($block-bg), 5);
    }
    &:last-child {
      td {
        border-bottom-width: 0;
      }
    }
    &:hover {
      background: darken(grayscale($block-bg), 1);
    }
  }
}

td, th {
  padding: 5px 8px;
}
