.top-section {
  padding: 1rem 0;
  margin-bottom: 4rem;

  @include link($top-section-color);

  a.active {
    text-shadow: 0 0 3px;
  }
}

.top-section-user-bar {
  @include organized-content;
}

.unread-links {
  @include listless;
  @include organized-content;

  > li > a {
    @include button-skeleton;
  }
}

.upper-header {
  @include organized-content;
  justify-content: space-between;
  margin-bottom: 0.6rem;
}

.forumtitle {
  margin: 0;
}
