.top-section {
  padding: 1rem 0;
  margin-bottom: 4rem;

  @include link(--top-section-color, colorLightness(--top-section-color, 0.8));

  a.active {
    text-shadow: 0 0 3px;
  }
}

.top-section-user-bar {
  @include organized-content;
}

.upper-header {
  @include organized-content;
  justify-content: space-between;
  margin-bottom: 0.6rem;
}

.forumtitle {
  margin: 0;
}
