.waves {
  position: absolute;
  z-index: -1;

  &--upper {
    fill: var(--color-bg);
    background: var(--top-section-background);
    transform: translateY(-63%);
    box-shadow: inset 0 -1px 1px 0px var(--color-bg), inset 0 -1px 1px 0px var(--color-bg);

    @media (max-width: 800px) AND (min-width: $mobile-max-width) {
      transform: translateY(-63%) scaleY(1.5);
    }
    @media (max-width: $mobile-max-width) {
      top: 52px;
    }
    @media (max-width: 425px) {
      top: 0;
      transform: scaleY(1.4);
    }
    @media (min-width: 980px) {
      .top-section--longmenu & {
        transform: translateY(-54%) scaleY(0.7);
      }
    }
    @media (min-width: 1600px) {
      transform: translateY(-56%) scaleY(0.6);

      .top-section--longmenu & {
        transform: translateY(-52%) scaleY(0.6);
      }
    }
  }
  &--intermediate {
    fill: var(--color-bg);
    background: var(--lower-wrapper-bg);
    transform: translateY(-33%);
  }
  &--lower {
    transform: translateY(-86%);
    fill: var(--color-bg);

    .body--waves & {
      fill: var(--lower-wrapper-bg);
    }

    @media (max-width: 600px) {
      transform: none;
      top: 0;
    }
    @media (min-width: 1600px) {
      transform: translateY(-71%) scaleY(0.6);
    }
  }
}
